.about .us {
	padding: 5px;
}

.about .us img.us-img {
	width: 100%;
}

.about .us .us-top {
	display: flex;
	align-items: center;
}

.about .us .us-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 10px;
	padding: 5px;
	font-size: 12px;
}

.culture {
	padding: 5px;
}

.culture .cul-item {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.culture .cul-item .ci-title {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 10px;
}

.culture .cul-item .ci-title img {
	margin-right: 5px;
	width: 30px;
}

.culture .cul-item .ci-title span {
	font-size: 17px;
	font-weight: bold;
}

.culture .cul-item .ci-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.culture .cul-item .ci-desc span {
	margin-bottom: 5px;
	color: #a5a5a5;
	font-size: 12px;
}

.honor {
	padding: 5px;
}

.honor .license-img {
	padding: 5px;
}

.honor .license-img img {
	width: 100%;
}

.market .cmap img {
	width: 100%;
}