.city .imgbar img {
	width: 100%;
}

.city .whycity {
	padding: 10px;
}

.city .whycity .wc-item>div {
	padding: 10px;
}


.city .whycity .wc-item .wci-title {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.city .whycity .wc-item .wci-subtitle {
	margin: 10px 0;
	font-size: 12px;
	color: #a5a5a5;
}

.city .whycity .wc-item .wci-title span {
	font-size: 18px;
}

.city .whycity .wc-item .wci-title img {
	margin-right: 5px;
	width: 30px;
}

.city .whycity .wc-item .wci-img img {
	width: 100%;
}

.policy {
	padding: 5px;
}

.policy .hb-img img {
	width: 100%;
}

.policy .policy-img {
	padding: 5px;
}

.policy .policy-img img {
	width: 100%;
	box-shadow: 0px 0px 0px 1px #ccc;
}

.joinus {
	padding: 5px;
}

.joinus .usimg, .joinus .joinimg  {
	padding: 5px;
}

.joinus .usimg img {
	width: 100%;
}

.joinus .joinimg img {
	width: 100%;
}

.powers {
	padding: 5px;
}

.powers .pw-item {
	padding: 5px;
}

.powers .pw-item .pwi-inner {
	display: flex;
	justify-content: center;
	box-shadow: 1px 1px 5px #ccc;
}

.powers .pw-item .pwi-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 150px;
}

.powers .pw-item img {
	margin-bottom: 10px;
	width: 40px;
}
