@charset "utf-8";

@media only screen and (max-width : 768px) {
	.nav-btn img {
		width: 100%;
	}

	.services .ser-item .ser-item-info .ser-item-title img {
		width: 160px !important;
		height: 160px !important;
		border-radius: 50% !important;
	}

	.services .ser-item .ser-item-info .ser-item-title {
		box-shadow: none !important;
	}
}

@media only screen and (min-width : 768px) {
	.nav-btn img {
		width: 130px;
	}

	.services .ser-item .ser-item-info .ser-item-title {
		box-shadow: 1px 1px 5px #ccc;
		border-radius: 20px;
	}
}

@font-face {
	/* font-family: wryh; */
	/* src: url('../fonts/wryh.ttf'); */
}

body {
	padding-top: 60px;
	/* font-family: wryh; */
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
	outline: none !important;
}

section {
	background-color: #fbfbfb;
}

.banner-fx {
	position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
	width: 20px;
}

.container.nav {
	margin: 0;
	width: 100%;
	/* height: 60px; */
}

.clear {
	clear: both;
}

.navbar {
	margin-bottom: 0px;
	border: none;
	border-radius: 0;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
}

.nav-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.nav-logo img.logo {
	width: 120px;
}

.nav-btns {
	height: 60px;
}

.nav-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.nav-btn .nb-home {
	display: flex;
	align-items: center;
	height: 95%;
}

.nav-btn.active .nb-home {
	color: #079a78;
}

.nav-btn.active .nb-line {
	background-color: #079a78;
}

.nav-btn .nb-line {
	width: 50px;
	height: 5%;
	background-color: none;
}

.nav-btn>.phone:before {
	margin-right: 5px;
}

.nav-btn.phone {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ci-img {
	width: 100%;
}

.about_video {
	width: 100%;
}

.footer {
	background: #fcfcfc;
	padding: 40px 20px;
	font-size: 16px;
	color: #000;
}

.copyright {
	font-size: 12px;
	color: #7f8080;
}

.f-call {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.f-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.f-call-phone {
	margin-top: 5px;
	font-size: 18px;
}

.finfo-title {
	display: flex;
	flex-direction: column;
}

.footer-bold {
	font-size: 12px;
	font-weight: bold;
}

.footer-thin {
	font-size: 12px;
	color: #7f8080;
}

.com-title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #079a78;
}

.com-title .com-title-sub {
	margin-left: 10px;
	font-size: 14px;
	color: #e4dada;
}


.com-title img {
	margin-right: 10px;
	width: 75px;
}

.com-title .com-title-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.com-title span {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.green-strip {
	margin-top: 20px;
	width: 30px;
	height: 5px;
	background-color: #079a78;
}

.history .his-2020 {}

.history .his-img {
	padding: 10px;
}

.history .his-img img {
	width: 100%;
	box-shadow: 0px 0px 5px #ccc;
}

.services {
	padding: 5px;
}

.services .ser-item .ser-item-info {
	padding: 5px;
	height: 200px;
}


.services .ser-item .ser-item-info .ser-item-inner {
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 5px #ccc;
}

.services .ser-item .ser-item-info .ser-item-inner.ser-item-img {
	border-radius: 20px;
	box-shadow: 0px 0px 10px #079a78;
}

.services .ser-item .ser-item-info .ser-item-inner.ser-item-img img {
	border-radius: 20px;
}

.services .ser-item .ser-item-info .ser-item-inner .ser-item-subtext {
	display: flex;
	align-items: center;
}

.services .ser-item .ser-item-info .ser-item-inner .ser-item-subtext span {
	border-radius: 30px;
	background-color: rgba(255, 96, 91, .06);
	color: #ff6661;
	padding: 0 10px;
}

.services .ser-item .ser-item-info .ser-item-inner img {
	width: 100%;
	height: 100%;
}

.services .ser-item .ser-item-info .ser-item-title {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* border-radius: 50%; */
	overflow: hidden;
}

.sit-span {
	/* font-size: 18px; */
	/* color: #007cff; */
	background-color: rgba(2, 153, 255, .06);
	padding: 0px 15px;
	border-radius: 30px;
	font-size: 16px;
	color: #079a78;
}

.services .ser-item .ser-item-info .ser-item-title div {
	display: flex;
	align-items: center;
}

.services .ser-item .ser-item-info .ser-item-title div img {
	margin-right: 5px;
	width: 30px;
}

.services .ser-item .ser-item-info .ser-item-title div span {
	font-size: 18px;
	font-weight: bold;
	color: #575bfb;
}

.services .ser-item .ser-item-info .ser-item-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px;
	border-radius: 20px;
}


.services .ser-item .ser-item-info .ser-item-text div img {
	width: 20px;
}

.services .ser-item .ser-item-info .ser-item-text div span {

	font-family: wryh;
}

.diversity {
	padding: 10px;
}

.diversity .div-img {
	/* padding: 10px; */
}

.diversity .div-img img {
	width: 100%;
	/* height: 260px; */
}

.diversity .div-content .dc-info {
	/* padding-top: 50px; */
}

.diversity .div-content .dc-info .dc-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.diversity .div-content .dc-info .dc-item>div {
	padding: 30px;
	/* box-shadow: 1px 1px 5px #ccc; */
}


.diversity .div-content .dc-info .dc-item>div span {
	color: #079a78;
}

.diversity .div-content .dc-item img {
	margin-right: 10px;
	width: 30px;
}


.store {
	padding: 0 10px;
}

.store .store-item .st-info {
	height: 150px;
	padding: 2px;
	background-color: #fff;
}

.store .store-item .st-info .sti-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 2px #ccc;
}

.store .store-item .st-info .sti-content .ss {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.store .store-item .st-info .sti-content-main img {
	width: 100%;
	height: 100%;
}

.store .store-item .st-info .sti-content .st-info-inner {
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.st-info-innerr img {
	width: 100%;
}

.store .store-item .st-info .sti-info {
	font-size: 12px;
	color: #a5a5a5;
}

.store .store-item .st-info .sti-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sti-big-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.store .store-item .st-info .sti-title span {
	border-radius: 30px;
	background-color: rgba(255, 96, 91, .06);
	color: #ff6661;
	padding: 0 10px;
	margin-right: 5px;
}

.store .store-item .st-info .sti-title img {
	width: 22px;
}

.store .store-item .st-info .sti-big-title span {
	font-size: 18px;
	color: #079a78;
}

.store .store-item .st-info .sti-big-title img {
	margin: 0 3px;
	width: 30px;
}


.operation .b-title img {
	width: 50px;
}

.operation .b-title span {
	padding-left: 10px;
	font-size: 1.2vw;
	color: #309D73;
}

.operation .b-title .b-title-content {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d1e1e6;
	border-radius: 50px;
}

.operation .b-content {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.operation .b-content .bc-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.operation .b-content .bc-item span {
	font-size: 1vw;
}

.operation .b-content .bc-item .bc-item-top {
	padding: 40px;
}

.operation .b-content .bc-item img {
	width: 100%;
}

.operation .op-item {
	margin-top: 20px;
}



.stores {
	padding: 5px;
}

.stores .store-item {
	padding: 5px;
}

.stores .store-item .store-item-inner {
	box-shadow: 1px 1px 5px #ccc;
}

.stores .store-item .si-sname {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: #fff;
	border-top: 5px solid #e3e3e3;
}


.stores .store-item .si-sname .sis-store {
	font-size: 12px;
	color: #B0B0B0;
}

.stores .store-item .si-img img {
	width: 100%;
}


.history .his-btm .his-btm-item {
	display: flex;
	align-items: center;
	height: 200px;
}


.history .his-btm .his-btm-left {
	justify-content: flex-end;
}




.history .his-btm .his-btm-item .hbl-content-com {
	height: 50%;
	background-color: #2bb5e8;
}



.frontline {
	padding: 5px;
}

.frontline .front-item {
	padding: 5px;
}

.front-item-inner {
	box-shadow: 1px 1px 5px #ccc;
}

.frontline .front-item img {
	width: 100%;
}

.news {}

.news .new-img {
	padding: 10px;
}

.news .new-img img {
	height: 150px;
	width: 100%;
	box-shadow: 1px 1px 5px #ccc;
}

.news .new .new-info {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.news .new .new-info .ni-title {
	display: flex;
	flex-direction: column;
}

.news .new .new-info .ni-title .nit-date {
	margin-bottom: 10px;
	padding: 3px 0 5px;
	border-bottom: 1px dotted #d3d3d3
}

.news .new .new-info .ni-title .nit-date span {
	font-size: 12px;
	color: #B0B0B0;
}

.news .new .new-info .ni-content span {
	font-size: 12px;
	color: #B0B0B0;
}

.news-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

.news-bottom span {
	font-size: 18px;
}

.news-bottom span.nb-sup {
	color: #007cff;
}

.news-bottom span.nb-sub {
	font-size: 0.8vw;
	color: #ded7d7;
}


.contact {}

.contact .contact-img {}

.contact .contact-img img {
	width: 100%;
}

.contact .ci-title {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 20px 0;
}

.contact .ci-title img {
	margin-right: 10px;
	width: 30px;
}

.contact .ci-title .ct-sup {
	font-size: 18px;
	color: #0087dd;
}

.contact .ci-info {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.contact .ci-info .ci-phone {
	margin: 40px 0;
}

.contact .ci-info .ci-city {
	margin-bottom: 30px;
}

.contact .ci-info .ci-btn {
	padding: 10px;
}

.contact .contact-info .ci-info input {
	width: 100%;
	line-height: 35px;
	padding: 10px 26px;
	color: #4a4a4a;
	border: #a8c5de 1px solid;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all .1s linear;
}

.douyin video {
	width: 100%;
	height: 500px;
}

.system {
	padding: 10px;
}

.system .sys-item {
	margin-bottom: 20px;
}

.system .sys-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.system .sys-title img {
	width: 30px;
}

.system .sys-title span {
	/* font-size: 16px; */
	/* color: #007cff; */
	background-color: rgba(2, 153, 255, .06);
	padding: 0px 15px;
	border-radius: 30px;
	font-size: 16px;
	color: #079a78;
}

.system .sys-img {
	display: flex;
	justify-content: center;
	/* padding: 10px; */
}

.system .sys-img img {
	width: 100%;
}

.system .sys-img>div {
	/* box-shadow: 1px 1px 5px #ccc; */
}



.suspend img {
	width: 30px;
	text-decoration: none;
	color: #333;
}

.sus1 {
	position: fixed;
	bottom: 160px;
	right: 10px;
	background-color: #b5b5b5;
	border-radius: 50%;
	padding: 15px;
	opacity: 0.8;
	z-index: 99;
}

.sus2 {
	position: fixed;
	bottom: 90px;
	right: 10px;
	background-color: #b5b5b5;
	border-radius: 50%;
	padding: 15px;
	opacity: 0.8;
	z-index: 99;
}

.sus3 {
	position: fixed;
	bottom: 20px;
	right: 10px;
	background-color: #b5b5b5;
	border-radius: 50%;
	padding: 15px;
	opacity: 0.8;
	z-index: 99;
}

.msg-info {
	font-size: 14px;
	font-weight: normal;
}

.community {
	padding: 5px;
}

.community .comm-item {
	padding: 5px;
}

.community .comm-item>div {
	box-shadow: 1px 1px 5px #ccc;
}

.community .comm-item img {
	width: 100%;
}

.btm-phone {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.btm-phone>a,
.btm-phone>span {
	color: #7f8080;
	font-size: 12px;
}

.btm-phone a {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

.btm-phone>a span {
	font-weight: bold;
	color: #337ab7;
	font-size: 14px;
}

.btm-phone img {
	width: 20px;
}
