<div class="container">
	<div class="row">
		<a class="suspend sus1 hidden-sm hidden-md hidden-lg" href="tel:400-657-0121">
			<img src="img/phone.png" alt="">
		</a>
		<a class="suspend sus1 hidden-xs hidden-sm" href="#">
			<img src="img/suspend/dingbu.png" alt="">
		</a>
		<a class="suspend sus2" href="" data-toggle="modal" data-target="#mgModal" data-whatever="@mdo"> <img src="img/suspend/liuyan.png"
			 alt="">
		</a>
		<a class="suspend sus3" href="" data-toggle="modal" data-target="#wxModal" data-whatever="@mdo"> <img src="img/suspend/weixin.png"
			 alt="">
		</a>
	</div>
</div>
<!-- 二维码弹框 -->
<div class="modal fade" id="wxModal" tabindex="-1" role="dialog" aria-labelledby="wxModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<img style="width: 120px;" src="img/wxchat-title.png" alt="">
			</div>
			<div class="modal-body">
				<img style="width: 100%;" src="img/index/wxchat.jpeg" alt="">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<!-- 留言板弹窗 -->
<div class="modal fade" id="mgModal" tabindex="-1" role="dialog" aria-labelledby="mgModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<img style="width: 40px;" src="img/suspend/chat.png" alt="">
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-name" class="control-label msg-info">姓名</label>
						<input type="text" class="form-control" id="message-name">
					</div>
					<div class="form-group">
						<label for="message-phone" class="control-label msg-info">电话</label>
						<input type="text" class="form-control" id="message-phone">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label msg-info">城市</label>
						<input type="text" class="form-control" id="message-city">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button id="msg-btn" type="button" class="btn btn-primary">提交</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// 弹窗留言的ajax
	$(function() {
		$("#msg-btn").click(function() {
			var name = '' || $("#message-name").val();
			var phone = '' || $("#message-phone").val();
			var city = '' || $("#message-city").val();
			if (!/^1\d{10}$/.test(phone)) {
				alert("温馨提示，请至少填写11位手机号");
			} else {
				$.ajax({
					url: "http://api.jjxtest.com/crmsystem/ow_info/userCreate",
					method: "POST",
					async: false,
					dataType: 'jsonp',
					data: {
						name: name,
						phone: phone,
						city: city
					},
					jsonp: "callback",
					//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名
					jsonpCallback: "success_jsonpCallback",
					success: function(result) {
						if (result == 20000) {
							alert('提交成功，感谢您的留言');
							// 清空信息
							$("#message-name").val("");
							$("#message-phone").val("");
							$("#message-city").val("");
							$('#mgModal').modal('hide');
						} else if (result == 40001) {
							alert('您的信息我们已经收到，请勿重复提交，谢谢');
							$("#message-phone").val("");
						} else {
							alert('提交失败，请稍后重试');
						}
					}
				});
			}
		});
</script>