<!-- 联系我们 -->
<div class="container">
	<div class="com-title">
		<span>联系我们</span>
		<span class="com-title-sub"> / CONTACT</span>
	</div>
</div>
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 wow fadeInLeft" data-wow-duration="2s">
				<div class="contact-img">
					<img src="img/contactus.png" alt="">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 wow fadeInLeft" data-wow-duration="2s">
				<div class="contact-info">
					<div class="ci-title">
						<img src="img/ganxie.png" alt="">
						<span class="ct-sup">感谢您的关注，我们将竭诚为您解答</span>
					</div>
					<div class="ci-info">
						<input id="page-name" type="text" placeholder="姓名">
						<input id="page-phone" class="ci-phone" type="text" placeholder="电话">
						<input id="page-city" class="ci-city" type="text" placeholder="城市">
						<button id="page-btn" type="button" class="ci-btn btn btn-info">提交</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 底部 -->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12" style="height:120px;margin-bottom: 10px;">
				<div class="col-xs-6 f-call">
					<div>
						<img style="width: 20px;" src="img/dianhua-4.png" alt="">
						<span class="footer-bold">咨询热线</span>
					</div>
					<a class="f-call-phone" href="tel:400-657-0121">400-657-0121</a>
				</div>
				<div class="col-xs-6" style="display: flex;flex-direction: column;">
					<div>
						<img style="width: 20px;" src="img/guwen-.png" alt="">
						<span class="footer-bold">项目顾问</span>
					</div>
					<div class="btm-phone">
						<span>总部营销中心 周经理</span>
						<a href="tel:13969321320">
							<img src="img/index/footer/hujiao.png" alt="">
							<span>13969321320</span>
						</a>
						<span>安徽分公司 王经理</span>
						<a href="tel:13188932505">
							<img src="img/index/footer/hujiao.png" alt="">
							<span>18668947222</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12" style="height:120px;margin-bottom: 10px;">
				<div class="col-md-6 col-xs-12 f-info" style="margin-bottom: 20px;">
					<div class="finfo-title" style="margin-bottom: 20px;">
						<div style="margin-bottom:10px;">
							<img style="width: 20px;" src="img/youxiang-copy.png" alt="">
							<span class="footer-bold">企业邮箱</span>
						</div>
						<span class="footer-thin">jixiangyuanjituan@163.com</span>
					</div>
					<div class="finfo-title">
						<div style="margin-bottom:10px;">
							<img style="width: 20px;" src="img/dizhi.png" alt="">
							<span class="footer-bold">公司地址</span>
						</div>
						<span class="footer-thin"><span style="font-weight: bold;">总部：</span>山东省济南市高新区汉峪金谷A3-5号楼601-2</span>
						<span class="footer-thin"><span style="font-weight: bold;">分公司：</span>安徽省六安市辰龙欢乐颂3栋101</span>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="col-md-6 col-xs-6" style="display: flex;flex-direction: column;align-items: center;">
						<div style="margin-bottom: 10px;border: 1px solid #ccc">
							<img style="width: 100px;" src="img/footer/ma1.jpeg" alt="">
						</div>
						<span style="font-size: 12px;">集吉象公众号</span>
					</div>
					<div class="col-md-6 col-xs-6" style="display: flex;flex-direction: column;align-items: center;">
						<div style="margin-bottom: 10px;border: 1px solid #ccc">
							<img style="width: 100px;" src="img/footer/ma2.jpeg" alt="">
						</div>
						<span style="font-size: 12px;">集吉象小程序</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- 备案号 -->
<div class="container" style="margin: 0;width: 100%;display: flex;flex-direction: column;justify-content:space-around;align-items: center;
    background: #f4f5f6;
    height: 70px;">
	<span class="copyright">2018-2020 版权所有 © 山东集象源环保科技有限公司 </span>
	<span class="copyright">备案号：鲁ICP备18058353号</span>
</div>

<script type="text/javascript">
	
		// 页面留言的ajax
		$("#page-btn").click(function() {
			var name = '' || $("#page-name").val();
			var phone = '' || $("#page-phone").val();
			var city = '' || $("#page-city").val();
			if (!/^1\d{10}$/.test(phone)) {
				alert("温馨提示，请至少填写11位手机号");
			} else {
				$.ajax({
					url: "http://api.jjxtest.com/crmsystem/ow_info/userCreate",
					method: "GET",
					async: false,
					dataType: 'jsonp',
					data: {
						name: name,
						phone: phone,
						city: city
					},
					jsonp: "callback",
					//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名
					jsonpCallback: "success_jsonpCallback",
					success: function(result) {
						if (result == 20000) {
							alert('提交成功，感谢您的留言');
							// 清空信息
							$("#page-name").val("");
							$("#page-phone").val("");
							$("#page-city").val("");
						} else if (result == 40001) {
							alert('您的信息我们已经收到，请勿重复提交，谢谢');
							$("#page-phone").val("");
						} else {
							alert('提交失败，请稍后重试');
						}
					}
				});
			}
		});
	});
</script>
