<!-- 头部导航 -->
<nav class="navbar navbar-default nav-static-top">
	<div class="container nav">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12 nav-btns">
					<div class="col-xs-3 nav-btn">
						<img class="logo" src="./img/logo.png" alt="">
					</div>
					<div class="col-xs-3 nav-btn" id="nav-index" target="headFrame">
						<span class="nb-home">首页</span>
						<span class="nb-line"></span>
					</div>
					<div class="col-xs-3 nav-btn" id="nav-city" target="headFrame">
						<span class="nb-home">城市运营</span>
						<span class="nb-line"></span>
					</div>
					<div class="col-xs-3 nav-btn" id="nav-about" target="headFrame">
						<span class="nb-home">联系我们</span>
						<span class="nb-line"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<script type="text/javascript">
	$("#nav-index").on('click', function() {
		window.location.href = "./index.html";
	});
	$("#nav-city").on('click', function() {
		window.location.href = "./city.html";
	});
	$("#nav-about").on('click', function() {
		window.location.href = "./about.html";
	});
</script>
